
<style type="text/css">
 

    footer{
        position: relative;
        width: 100%;
        bottom: 0px;
        background-color: white;
        bottom: 0%;
        /* display: inline-block; */
    }

    .footer-copyright{
        background-color: rgb(63, 56, 73);
        
        
    }
    
    
</style>

<footer>

    <div class="footer-copyright text-center text-white py-3 ">© 2020 Copyright:
      <a class="text-white" href="https://www.facebook.com/luisandres.rodriguez.14224"> Luis Andres Rodriguez Campos</a>
    </div>
   
  
</footer>